* {
  margin: 0;
  padding: 0;
}
html,
body {
  overflow-x: hidden;
}
.header {
  width: 100%;
  display: flex;
  background-color: blue;
  flex-direction: row-reverse;
  right: 0px;
  align-items: center;
  height: 48px;
  padding: 6px;
}
.header a {
  color: black;
  text-decoration: none;
}
.header div {
  margin-right: 15px;
}
.header a {
  margin-right: 15px;
}

.google-body {
  background-color: orange;
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-sizing: border-box;
}
.google-body-items-image {
  position: relative;
  /* background-color: olive; */
}
.image-text {
  color: rgb(66, 133, 244);
  position: absolute;
  right: 10px;
  top: 70px;
}
.google-body-items a {
  text-decoration: none;
  padding: 0 2px;
}

.google-body-items .field-input {
  height: 46px;
  width: 540px;
  border-radius: 45px;
  outline: none;
  border-style: solid;
  border-color: rgb(223, 225, 229);
  padding-left: 40px;
  font-size: 16px;
}
.google-body-items-input {
  padding: 20px;
  background-color: red;
  position: relative;
}
.search-lucky input {
  background-color: #f8f9fa;
  border: 1px solid #f8f9fa;
  border-radius: 4px;
  color: #3c4043;
  font-size: 14px;
  margin: 11px 4px;
  padding: 0 16px;
  line-height: 27px;
  height: 36px;
  min-width: 54px;
  text-align: center;
  cursor: pointer;
  user-select: none;
}
.fa-solid {
  position: absolute;
  top: 35px;
  left: 35px;
}
